/build/
/build-package/
/dist/
/obj-*/
/cmake-build-*/
compile_commands.json
*.user
*.autosave
.cache/
CMakeUserPresets.json
/debian/.debhelper/
/debian/tmp/
/debian/ot-cast/
/debian/deepin-miracast/
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/*.deb
/*.dsc
/*.tar.xz
/*.tar.gz
/*.build
/*.buildinfo
/*.changes
/*.AppImage
